.modal-container {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 0.5s ease-in-out;
}

.modal-container.active {
    grid-template-rows: 1fr;
}

.expand-modal {
    min-height: 0;
}

.rmdp-wrapper {
    z-index: auto !important;
}